body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #f9f9f9;
}

.team_title{
    color: #000;
font-family: "Montserrat Alternates";
font-size: 16px;
font-weight: 400;
}

.team-carousel {
  text-align: center;
  padding: 40px 20px;
}

.profile {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.member {
  width: 320px;
  word-wrap: break-word;
  white-space: normal;
  overflow-wrap: break-word;
//   background-color: #fff;
  padding: 20px;
  border-radius: 12px;
  /* box-shadow: 0 0 10px rgba(0,0,0,0.1); */
}

.team_names{
    color: #000;
font-family: "Montserrat Alternates";
font-size: 14px;
font-weight: 400;
margin-bottom: 20px;
}

.team_info{
    color: #000;
font-family: "Montserrat Alternates";
font-size: 12px;
font-weight: 400;
}

.member img {
  width: 150px;
  height: 150px;
  border-radius: 20px;
  object-fit: cover;
  margin: 16px auto 20px auto;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
}

.left {
  left: 0;
}

.right {
  right: 0;
}

.arrow img {
  width: 50px;
  height: 100px;
}

.progress {
  margin-top: 15px;
  font-size: 14px;
  color: #666;
}