@charset "UTF-8";
.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 10px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

body {
  background-image: url(../img/background.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.header__box {
  display: flex;
  justify-content: space-between;
  height: 50px;
  align-content: center;
  align-items: center;
}
.header__logo {
  width: 93px;
  height: 39px;
  display: flex;
  gap: 9px;
}
.header__logo__text {
  color: #000;
  font-family: "Montserrat Alternates";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.header__logo__magic__text {
  color: #000;
  font-family: Sacramento;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  height: 18px;
}
.header__list {
  display: flex;
  gap: 50px;
}
.header__list__right {
  display: flex;
  gap: 51px;
  align-content: center;
  align-items: center;
}
.header__link {
  color: #000;
  font-family: "Montserrat Alternates";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.header__button {
  width: 40px;
  height: 20px;
  background-color: #7a7a7a;
  border-radius: 11px;
  background: #7a7a7a;
  align-content: center;
  align-items: center;
  border: none;
  position: relative;
}

.times__hed {
  display: flex;
  flex-direction: column;
  gap: 1px;
}

li {
  text-decoration: none;
  list-style-type: none;
}

a {
  text-decoration: none;
  list-style-type: none;
}

.theme__changer {
  background-color: #c0b4b4;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 320ms;
}

.check {
  background-color: white;
}
.check .theme__changer {
  transform: translateX(20px);
}

.dark {
  background-color: #7a7a7a;
}

.header__modal {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 576px;
  height: 316px;
  border-radius: 20px;
  background: #fff;
}
.header__modal__text {
  width: 400px;
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 42px;
}
.header__modal__question {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 18px;
}
.header__modal__input {
  width: 169px;
  border-radius: 20px;
  background: #d7d7d7;
  padding: 10px 20px;
  height: 35px;
  display: flex;
  justify-content: center;
  border: none;
  margin-bottom: 18px;
}
.header__modal__input::-moz-placeholder {
  color: #7e7e7e;
  font-family: "Montserrat Alternates";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.header__modal__input::placeholder {
  color: #7e7e7e;
  font-family: "Montserrat Alternates";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.header__modal__btn {
  border-radius: 20px;
  background: #000;
  box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.25);
  width: 105px;
  height: 35px;
  border: none;
  color: #fff;
  font-family: "Montserrat Alternates";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.header__modal__close__btn {
  border: none;
  background-color: transparent;
  position: absolute;
  top: 30px;
  right: 30px;
}
.header__modal__sword {
  position: absolute;
  left: 41px;
  top: 154px;
}
.header__modal__puzzle {
  position: absolute;
  left: 85px;
  top: 230px;
}
.header__modal__game {
  position: absolute;
  right: 41px;
  top: 154px;
}
.header__modal__tic-tac {
  position: absolute;
  right: 85px;
  top: 230px;
}

.header__backdrop {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  opacity: 1;
  transition: opacity 401ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.header__is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.header__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  color: #000;
  font-family: "Montserrat Alternates";
  font-size: 24px;
}

.input-group {
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-group p {
  margin: 36px 149px;
  display: inline-block;
  white-space: nowrap;
}

.true-false {
  margin: 0;
}

.input-year {
  padding: 10px;
  background-color: #D7D7D7;
  border: none;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.true-false {
  display: inline;
  margin-left: 10px;
}

.button-year {
  padding: 11.5px;
  border: none;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background: #000;
}

.lupa {
  width: 15px;
  height: 15px;
}

.randomnumber__title {
  color: #000;
  font-family: "Montserrat Alternates";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.randomnumber__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 36px;
  padding-top: 36px;
  gap: 36px;
}
.randomnumber__input__output {
  display: flex;
  gap: 202px;
  align-items: center;
}
.randomnumber__output {
  color: #039900;
  text-align: right;
  font-family: "Montserrat Alternates";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.randomnumber__output__incorrect {
  color: #900;
  text-align: right;
  font-family: "Montserrat Alternates";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.randomnumber__input {
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  background: #d7d7d7;
  width: 115px;
  height: 35px;
  border: none;
  padding-left: 10px;
}
.randomnumber__input::-moz-placeholder {
  color: #7e7e7e;
  font-family: "Montserrat Alternates";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.randomnumber__input::placeholder {
  color: #7e7e7e;
  font-family: "Montserrat Alternates";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.randomnumber__input__div {
  display: flex;
  align-items: center;
}
.randomnumber__icon__css {
  border-radius: 0 20px 20px 0;
  background: #000;
  height: 35px;
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.paper {
  padding: 36px 0;
}
.paper__title {
  color: #000;
  font-family: "Montserrat Alternates";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  margin-bottom: 36px;
}
.paper__flex {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 104px;
}
.paper__wraper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 150px;
}
.paper__list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 38px;
  margin-bottom: 36px;
}
.paper__btn {
  border-radius: 20px;
  background: #000;
  padding: 10px;
  border: none;
}
.paper__result {
  text-align: center;
  color: #039900;
  font-family: "Montserrat Alternates";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0 0 36px 0;
}
.paper__button {
  border-radius: 20px;
  background: #000;
  padding: 10px 20px 10px 20px;
  border: none;
  color: #FFF;
  font-family: "Montserrat Alternates";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.paper__text {
  color: #000;
  font-family: "Montserrat Alternates";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%;
  /* 20.4px */
}

.calculator__box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 36px;
  padding-top: 36px;
}
.calculator__title {
  color: #000;
  font-family: "Montserrat Alternates";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.calculator__list {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  width: 650px;
  gap: 38px;
}
.calculator__input {
  width: 135px;
  border-radius: 20px;
  background: #d7d7d7;
  padding: 10px 20px;
  height: 35px;
  display: flex;
  justify-content: center;
  border: none;
}
.calculator__input::-moz-placeholder {
  color: #7e7e7e;
  font-family: "Montserrat Alternates";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.calculator__input::placeholder {
  color: #7e7e7e;
  font-family: "Montserrat Alternates";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.calculator__num {
  width: 135px;
  border-radius: 20px;
  background: #d7d7d7;
  padding: 10px 20px;
  height: 35px;
  display: flex;
  justify-content: center;
  border: none;
}
.calculator__num::-moz-placeholder {
  color: #7e7e7e;
  font-family: "Montserrat Alternates";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.calculator__num::placeholder {
  color: #7e7e7e;
  font-family: "Montserrat Alternates";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.calculator__box__output {
  width: 135px;
  border-radius: 20px;
  background: #d7d7d7;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}
.calculator__output {
  color: #7e7e7e;
  font-family: "Montserrat Alternates";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.calculator__button__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.calculator__btn {
  border-radius: 20px;
  background: #000;
  box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.25);
  color: #fff;
  font-family: "Montserrat Alternates";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 25px;
  height: 25px;
  border: none;
}
.calculator__output__btn {
  border-radius: 20px;
  background: #000;
  box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.25);
  color: #fff;
  font-family: "Montserrat Alternates";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 25px;
  height: 25px;
  border: none;
}

.test-css {
  display: flex;
  gap: 10px;
}

.calculator__span {
  color: red;
  transform: scale(0);
  transition: all 1s;
}

.time__calculator {
  padding: 36px 0;
}

hr {
  border: none;
  border-top: 2px solid black;
  width: 50%;
  margin: 20px auto;
}

.wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.time__dots {
  margin: 0 33px;
}

.time__wrapper {
  position: relative;
  display: inline-flex;
  align-items: baseline;
  gap: 12px;
  overflow: hidden;
}

.time__input {
  border-radius: 20px;
  background: #D7D7D7;
  border: none;
  padding: 10px 45px 10px 10px;
  width: 160px;
}

.time__search {
  width: 15px;
  height: 15px;
}

.time__button {
  padding: 10px;
  padding-bottom: 6px;
  border-radius: 0 20px 20px 0;
  background: #000;
  position: absolute;
  left: 120px;
}

.time__title {
  color: #000;
  font-family: "Montserrat Alternates";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  margin-bottom: 36px;
}

.time__equal {
  color: #000;
  font-family: "Montserrat Alternates";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.wrong-text {
  color: red;
}

#game {
  width: 600px;
  height: 200px;
  border: 2px solid #333;
  margin: 50px auto;
  position: relative;
  overflow: hidden;
  background-color: #fff;
  z-index: 0;
}

#dino {
  width: 40px;
  height: 40px;
  background-image: url("../img/artem-img/dino.png");
  background-size: cover;
  position: absolute;
  bottom: 0;
  left: 50px;
}

.cactus {
  width: 20px;
  height: 40px;
  background-image: url("../img/artem-img/cactus.png");
  background-size: cover;
  position: absolute;
  bottom: 0;
}

.jump {
  animation: jump 0.5s linear;
}

#score {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 18px;
  font-weight: bold;
}

#startBtn {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
}

@keyframes jump {
  0% {
    bottom: 0;
  }
  50% {
    bottom: 100px;
  }
  100% {
    bottom: 0;
  }
}
@keyframes moveCactus {
  0% {
    left: 600px;
  }
  100% {
    left: -20px;
  }
}
.football {
  padding-top: 36px;
  padding-bottom: 36px;
  display: flex;
  align-items: center;
}
.football__title {
  color: #000;
  font-family: "Montserrat Alternates";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  margin-bottom: 15px;
}
.football__counter {
  color: #000;
  font-family: "Montserrat Alternates";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  margin-bottom: 15px;
}

#field {
  width: 720px;
  height: 220px;
  position: relative;
  border-radius: 37px;
  border: 2px solid #000;
  background-color: #5ABB58;
}

#ball {
  position: absolute;
  left: 0; /* по відношенню до найближчого розташованого предка (field) */
  top: 0;
  transition: 1s all; /* CSS-анімація для значень left/top робить пересування м’яча плавним */
}

#goal {
  width: 30px;
  height: 100px;
  border: 4px solid white;
  border-right: none;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background: transparent;
}

body {
  background: #111;
  color: #fff;
  font-family: sans-serif;
  text-align: center;
}

canvas {
  border: 2px solid #fff;
  background: #222;
  display: block;
  margin: 0 auto;
}

.controls {
  margin-top: 10px;
}

button {
  padding: 10px 20px;
  margin: 5px;
  font-size: 16px;
  cursor: pointer;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  font-family: "Montserrat Alternates";
  font-size: 16px;
  font-weight: 400;
  margin: 36px 0;
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 38px;
}

.input1,
.input2,
.input3 {
  display: inline-flex;
  border: none;
  padding: 10px 20px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 20px;
  background: #D7D7D7;
  box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.25);
}

.text {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 36px 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #f9f9f9;
}

.team_title {
  color: #000;
  font-family: "Montserrat Alternates";
  font-size: 16px;
  font-weight: 400;
}

.team-carousel {
  text-align: center;
  padding: 40px 20px;
}

.profile {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.member {
  width: 320px;
  word-wrap: break-word;
  white-space: normal;
  overflow-wrap: break-word;
  padding: 20px;
  border-radius: 12px;
  /* box-shadow: 0 0 10px rgba(0,0,0,0.1); */
}

.team_names {
  color: #000;
  font-family: "Montserrat Alternates";
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 20px;
}

.team_info {
  color: #000;
  font-family: "Montserrat Alternates";
  font-size: 12px;
  font-weight: 400;
}

.member img {
  width: 150px;
  height: 150px;
  border-radius: 20px;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 16px auto 20px auto;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
}

.left {
  left: 0;
}

.right {
  right: 0;
}

.arrow img {
  width: 50px;
  height: 100px;
}

.progress {
  margin-top: 15px;
  font-size: 14px;
  color: #666;
}

.smart {
  padding-top: 36px;
  padding-bottom: 36px;
}
.smart__title {
  color: #000;
  margin-bottom: 36px;
  font-family: "Montserrat Alternates";
  font-size: 26px;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}
.smart__grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 59px;
  row-gap: 36px;
  margin-bottom: 36px;
}
.smart__item {
  border-radius: 20px;
  background: #D9D9D9;
  padding: 10px;
  flex-basis: calc((80% - 177px) / 4);
}
.smart__name {
  color: #000;
  text-align: center;
  font-family: "Montserrat Alternates";
  font-size: 18px;
  font-weight: 400;
  line-height: 170%; /* 13.6px */
  margin-bottom: 5px;
}
.smart__surname {
  color: #000;
  margin-bottom: 5px;
  text-align: center;
  font-family: "Montserrat Alternates";
  font-size: 18px;
  font-weight: 400;
  line-height: 170%; /* 13.6px */
}
.smart__born {
  color: #000;
  margin-bottom: 5px;
  text-align: center;
  font-family: "Montserrat Alternates";
  font-size: 18px;
  font-weight: 400;
  line-height: 170%; /* 13.6px */
}
.smart__dead {
  color: #000;
  text-align: center;
  font-family: "Montserrat Alternates";
  font-size: 18px;
  font-weight: 400;
  line-height: 170%; /* 13.6px */
}

.questions__item {
  color: #FFF;
  font-family: "Montserrat Alternates";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 10px 20px;
  border-radius: 20px;
  background: #000;
  box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.25);
}

.footer {
  padding-top: 61px;
  padding-bottom: 59px;
}
.footer__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer__logo {
  margin-right: 160px;
}
.footer__list {
  margin-right: 160px;
}
.footer__link {
  color: #000;
  font-family: "Montserrat Alternates";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%;
}
.footer__boxx {
  display: flex;
  flex-direction: row;
}
.footer__input {
  border-radius: 20px;
  background-color: #D7D7D7;
  padding: 10px 80px 10px 10px;
  align-items: flex-start;
  color: #7E7E7E;
  font-family: "Montserrat Alternates";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-right: 36px;
  border: none;
}
.footer__btn {
  border-radius: 20px;
  background-color: #000;
  padding: 10px;
  margin-bottom: 18px;
  margin-right: 36px;
  border: none;
  color: #FFF;
  font-family: "Montserrat Alternates";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.footer__subtitle {
  margin-top: 20px;
  color: #000;
  font-family: "Montserrat Alternates";
  font-size: 10px;
  font-weight: 400;
  line-height: normal;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: 250ms;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  transform: scale(1.2);
  transition: 250ms;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 463px;
  padding: 69px 42px 70px 43px;
  border-radius: 20px;
  background-color: #fff;
  transform: translate(-50%, -50%);
  transition: 250ms;
}
.modal__btn {
  background: transparent;
  border: none;
  outline: none;
  position: absolute;
  top: 30px;
  right: 30px;
}
.modal__icon {
  width: 15px;
  height: 15px;
}
.modal__icon:hover, .modal__icon:focus {
  transform: scale(1.25);
}
.modal__title {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 83px;
  text-align: center;
}
.modal__icons {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 69px;
  left: 43px;
}
.modal .modal__icons:nth-of-type(2) {
  left: 391px;
  top: 185px;
}
.modal .modal__icons:nth-of-type(3) {
  top: 185px;
  right: 300px;
}
.modal .modal__icons:nth-of-type(4) {
  left: 391px;
  top: 69px;
}/*# sourceMappingURL=main.css.map */