<section class="age">
    <div class="container">
        <h1 class="title">Перевірка року народження</h1>
        <div class="input-group">
            <input type="number" class="input-year" placeholder="Введіть рік народження">
            <button class="button-year" ><img src="../img/search-icon.png" alt="loopa" class="lupa"></button>
            <p class="true-false" style="color: green;">Ви народилися у високосний рік!</p>
        </div>
    <div class="result"></div>
    </div>
</section>