<section class="calculator">
  <h2 class="calculator__title">Калькулятор</h2>
  <ul class="calculator__list">
    <li class="calculator__item">
      <input
        type="text"
        placeholder="Введіть число"
        class="calculator__input"
      />
    </li>
    <li class="calculator__item">
      <button class="calculator__btn" type="button">+</button>
      <button class="calculator__btn" type="button">*</button>
      <button class="calculator__btn" type="button">-</button>
      <button class="calculator__btn" type="button">/</button>
    </li>
    <li class="calculator__item">
      <input type="text" class="calculator__num" placeholder="Введіть число" />
    </li>
    <li class="calculator__item">
      <button class="calculator__output__btn" type="button">=</button>
    </li>
    <li class="calculator__item">
      <input type="text" class="calculator__output" placeholder="Результат" />
    </li>
  </ul>
</section>
