<section class="calculator">
  <div class="container calculator__box">
    <h2 class="calculator__title">Калькулятор</h2>
    <ul class="calculator__list">
      <li class="calculator__item">
        <input
          type="text"
          placeholder="Введіть число"
          class="calculator__input"
        />
      </li>
      <li class="calculator__item calculator__button__list">
        <div class="test-css">
          <button class="calculator__btn plusBtn" type="button">+</button>
          <button class="calculator__btn mulBtn" type="button">*</button>
        </div>
        <div class="test-css">
          <button class="calculator__btn minusBtn" type="button">-</button>
          <button class="calculator__btn subBtn" type="button">/</button>
        </div>
      </li>
      <li class="calculator__item">
        <input
          type="text"
          class="calculator__num"
          placeholder="Введіть число"
        />
      </li>
      <li class="calculator__item">
        <button class="calculator__output__btn" type="button">=</button>
      </li>
      <li class="calculator__item">
        <div class="calculator__box__output">
          <p class="calculator__output">Результат</p>
        </div>
      </li>
    </ul>
    <span class="calculator__span"></span>
    <hr />
  </div>
</section>
