<footer class="footer">
    <div class="container footer__box">
    <a href="../index.html" class="footer__logo">
        <img src="../img/mykola-imgs/logo.png" alt="logo" class="logo__img">
    </a>
<ul class="footer__list">
    <li class="footer__item">
    <a href="tel:+381234567890" class="footer__link">Тел: +38 (123) 456 78 90</a>
</li>
<li class="footer__item">
    <a href="mailto:codingmagic@gmail.com" class="footer__link">E-Mail: codingmagic@gmail.com</a>
</li>
<li class="footer__item">
    <a href="https://www.facebook.com/" target="_blank" class="footer__link">Facebook: CodingMagic</a>
</li>
<li class="footer__item">
    <a href="https://x.com/" target="_blank" class="footer__link">Twitter: CodingMagic</a>
</li>
<li class="footer__item">
    <a href="https://www.instagram.com/" target="_blank" class="footer__link">Instagram: CodingMagic</a>
</li>
</ul>
<div class="footer__boxx">
    <form class="footer__form">
        <input type="email" class="footer__input" placeholder="Ваша ел. адреса..." required>
         <button type="button" class="footer__btn" data-modal-footer-open>Підписатись</button>
    </form>
</div>
<p class="footer__subtitle">*Підписавшись, Ви зможете отримувати інформацію про новинки на сайті</p>
</div>
</footer>




   <div class="backdrop is-hidden" data-modal-footer>
      <div class="footer__modal">
         <button class="modal__btn" data-modal-footer-close><img src="../img/mykola-imgs/close.png" alt="close" class="modal__icon"></button>
        <h2 class="modal__title">Дякую за підписку!</h2>
        <ul class="modal__list">
        <img src="../img/mykola-imgs/sword.png" class="modal__icons" alt="sword">
        <img src="../img/mykola-imgs/game.png" class="modal__icons" alt="game">
        <img src="../img/mykola-imgs/puzzle.png" class="modal__icons" alt="puzzle">
        <img src="../img/mykola-imgs/tic-tac.png" class="modal__icons" alt="tic-tac-toe">
        </ul>
      </div>
    </div>