<footer class="footer">
    <div class="container">
    <a href="" class="footer__logo"><img src="" alt=""></a>
<ul class="footer__list">
    <li class="footer__item">
    <a href="tel:+381234567890" class="footer__link">Тел: +38 (123) 456 78 90</a>
</li>
<li class="footer__item">
    <a href="mailto:codingmagic@gmail.com" class="footer__link">E-Mail: codingmagic@gmail.com</a>
</li>
<li class="footer__item">
    <a href="https://www.facebook.com/CodingMagic" target="_blank" class="footer__link">Facebook: CodingMagic</a>
</li>
<li class="footer__item">
    <a href="https://twitter.com/CodingMagic" target="_blank" class="footer__link">Twitter: CodingMagic</a>
</li>
<li class="footer__item">
    <a href="https://www.instagram.com/CodingMagic" target="_blank" class="footer__link">Instagram: CodingMagic</a>
</li>
</ul>
<div>
    <form class="footer__form">
        <input type="email" class="footer__input" placeholder="Ваша ел. адреса..." required>
         <button type="button" class="footer__btn">Підписатись</button>
    </form>
</div>
<p class="footer__subtitle">*Підписавшись, Ви зможете отримувати інформацію про новинки на сайті</p>
</footer>


   <div class="backdrop is-hidden">
      <div class="footer__modal">
        <button type="button" class="footer__btn">
          <!-- <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" class="footer__icon">
            <path d="M18 6L6 18" stroke="#F6F5EF" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M6 6L18 18" stroke="#F6F5EF" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
            </svg> -->
        </button>
         <h2 class="footer__title">Дякую за підписку!</h2>
      </div>
    </div>