<header class="header">
  <div class="container header__box">
    <div class="header__logo">
      <img src="./img/logo-header.png" alt="icon" class="header__logo__img" />
      <div class="times__hed">
        <p class="header__logo__text">Coding</p>
        <!-- <p class="header__logo__magic__text">Magic</p> -->
      </div>
    </div>
    <nav class="header__nav">
      <ul class="header__list">
        <li class="header__item">
          <a href="#" class="header__link">Інтерактив</a>
        </li>
        <li class="header__item">
          <a href="#" class="header__link">Наша команда</a>
        </li>
        <li class="header__item">
          <a href="#" class="header__link">Контакти</a>
        </li>
      </ul>
    </nav>
    <div class="header__list__right">
      <div class="theme__changer">
        <img src="./img/sun-bg-changer.png" alt="" />
      </div>

      <p class="header__hello">Вітаємо, User!</p>
    </div>
  </div>
</header>

<div class="header__modal">
  <p class="header__modal__text">
    Привіт! Ви потрапили на сайт інтерактивних ігор та завдань Надіємось, що вам
    сподобається і ви отримаєте позитивні емоції! Бажаємо Вам гарно провести
    час!
  </p>
  <p class="header__modal__question">Введіть своє ім’я:</p>
  <input type="text" class="header__modal__input" placeholder="Ваше ім’я..." />
  <button class="header__modal__btn" type="submit">Зберегти</button>
</div>
