<header class="header">
  <img src="" alt="icon" class="header__icon" />
  <nav class="header__nav">
    <ul class="header__list">
      <li class="header__item">
        <a href="#" class="header__link">Інтерактив</a>
      </li>
      <li class="header__item">
        <a href="#" class="header__link">Наша команда</a>
      </li>
      <li class="header__item">
        <a href="#" class="header__link">Контакти</a>
      </li>
    </ul>
  </nav>
  <ul class="header__list__right">
    <li class="header__item__right">
      <div class="theme__changer"><div class="header__cyrcle"></div></div>
    </li>
    <li class="header__item__right">
      <p class="header__hello">Вітаємо, User!</p>
    </li>
  </ul>
</header>
