<header class="header">
  <div class="container header__box">
    <div class="header__logo">
      <img src="./img/logo-header.png" alt="icon" class="header__logo__img" />
      <div class="times__hed">
        <p class="header__logo__text">Coding</p>
        <!-- <p class="header__logo__magic__text">Magic</p> -->
      </div>
    </div>
    <nav class="header__nav">
      <ul class="header__list">
        <li class="header__item">
          <a href="#" class="header__link">Інтерактив</a>
        </li>
        <li class="header__item">
          <a href="#" class="header__link">Наша команда</a>
        </li>
        <li class="header__item">
          <a href="#" class="header__link">Контакти</a>
        </li>
      </ul>
    </nav>
    <div class="header__list__right">
      <button type="button" class="header__button">
        <div class="theme__changer">
          <img src="./img/sun-bg-changer.png" alt="" class="header__sun" />
        </div>
      </button>

      <p class="header__hello">Вітаємо, <span class="helloname">User</span>!</p>
    </div>
  </div>
</header>
<!-- modal ------------------------------------------------------------------------------------------->
<div class="header__backdrop" data-modal>
  <div class="header__modal">
    <img src="./img/mykola-imgs/sword.png" alt="sword" class="header__modal__img header__modal__sword">
    <img src="./img/mykola-imgs/puzzle.png" alt="sword" class="header__modal__img header__modal__puzzle">
    <img src="./img/mykola-imgs/game.png" alt="sword" class="header__modal__img header__modal__game">
    <img src="./img/mykola-imgs/tic-tac.png" alt="sword" class="header__modal__img header__modal__tic-tac">
    <p class="header__modal__text">
      Привіт! <br />
      Ви потрапили на сайт інтерактивних ігор та завдань<br />
      Надіємось, що вам сподобається і ви отримаєте позитивні емоції!
      <br />Бажаємо Вам гарно провести час!
    </p>
    <p class="header__modal__question">Введіть своє ім’я:</p>
    <form class="header__form">
    <input
      type="text"
      class="header__modal__input"
      placeholder="Ваше ім’я..."
    />

    <button class="header__modal__btn" type="submit">Зберегти</button>
    <button class="header__modal__close__btn" type="button">
      </form>
      <img src="./img/close-icon.png" alt="" data-modal-close />
    </button>
  </div>
</div>
