<section class="paper">
  <div class="container paper__flex">
    <div class="paper__wraper">
      <h2 class="paper__title">Камінь - ножиці - папір</h2>
      <ul class="paper__list">
        <li class="paper__item">
          <button type="button" class="paper__btn" data-choice="rock">
            <img src="./img/artem-img/stone.png" alt="" class="paper__img" />
          </button>
        </li>
        <li class="paper__item">
          <button type="button" class="paper__btn" data-choice="paper">
            <img src="./img/artem-img/paper.png" alt="" class="paper__img" />
          </button>
        </li>
        <li class="paper__item">
          <button type="button" class="paper__btn" data-choice="scissors">
            <img
              src="./img/artem-img/scissors.png"
              alt=""
              class="paper__img"
            />
          </button>
        </li>
      </ul>
      <p class="paper__result">Ви виграли раунд!</p>
      <button type="button" class="paper__button">Варіант комп’ютера</button>
    </div>
    <ul class="paper__items">
      <li class="paper__elem">
        <p class="paper__text">Рахунок</p>
      </li>
      <li class="paper__elem">
        <p class="paper__text" id="computer">Комп’ютер</p>
      </li>
      <li class="paper__elem">
        <p class="paper__text" id="player">Ви</p>
      </li>
    </ul>
  </div>
</section>
