<section class="smart">
  <div class="container">
    <h2 class="smart__title">Обери вченого/их</h2>
    
    <ul class="smart__grid"></ul>

    <div class="smart__questions">
      <button class="questions__item">Які вчені народилися в 19 ст.</button>
      <button class="questions__item">Знайти рік народження Альберта Ейнштейна</button>
      <button class="questions__item">Відсортувати вчених за алфавітом</button>
      <button class="questions__item">Знайти вчених, прізвища яких починаються на літеру “С”</button>
      <button class="questions__item">Відсортувати вчених за кількістю прожитих років</button>
      <button class="questions__item">Видалити всіх вчених, ім’я яких починається на “А”</button>
      <button class="questions__item">Знайти вченого, який народився найпізніше</button>
      <button class="questions__item">Знайти вченого, який прожив найдовше і вченого, який прожив найменше</button>
      <button class="questions__item">Знайти вчених, в яких співпадають перші літери імені і прізвища</button>
    </div>
  </div>
</section>