<section class="smart">
  <div class="container">
    <h2 class="smart__title">Обери вченого/их</h2>
    
    <ul class="smart__grid">
      <li class="smart__card">Альберт Ейнштейн (1879–1955)</li>
      <li class="smart__card">Ісаак Ньютон (1643–1727)</li>
      <li class="smart__card">Марія Кюрі (1867–1934)</li>
      <li class="smart__card">Галілео Галілей (1564–1642)</li>
      <li class="smart__card">Чарльз Дарвін (1809–1882)</li>
      <li class="smart__card">Нікола Тесла (1856–1943)</li>
      <li class="smart__card">Дмитро Менделєєв (1834–1907)</li>
      <li class="smart__card">Стівен Гокінг (1942–2018)</li>
      <li class="smart__card">Андрій Сахаров (1921–1989)</li>
      <li class="smart__card">Юрій Кондратюк (1897–1942)</li>
      <li class="smart__card">Іван Пулюй (1845–1918)</li>
      <li class="smart__card">Борис Патон (1918–2020)</li>
    </ul>

    <div class="smart__questions">
      <button class="questions__item">Які вчені народилися в 19 ст.</button>
      <button class="questions__item">Знайти рік народження Альберта Ейнштейна</button>
      <button class="questions__item">Відсортувати вчених за алфавітом</button>
      <button class="questions__item">Знайти вчених, прізвища яких починаються на літеру “С”</button>
      <button class="questions__item">Відсортувати вчених за кількістю прожитих років</button>
      <button class="questions__item">Видалити всіх вчених, ім’я яких починається на “А”</button>
      <button class="questions__item">Знайти вченого, який народився найпізніше</button>
      <button class="questions__item">Знайти вченого, який прожив найдовше і вченого, який прожив найменше</button>
      <button class="questions__item">Знайти вчених, в яких співпадають перші літери імені і прізвища</button>
    </div>
  </div>
</section>