<section class="smart">
  <div class="container">
    <h2 class="smart__title">Обери вченого/их</h2>
    
    <ul class="smart__grid"></ul>

    <div class="smart__questions">
      <button class="questions__item" data-action="IXX-ST">Які вчені народилися в 19 ст.</button>
      <button class="questions__item" data-action="albert">Знайти рік народження Альберта Ейнштейна</button>
      <button class="questions__item" data-action="alphabet">Відсортувати вчених за алфавітом</button>
      <button class="questions__item" data-action="C-surname">Знайти вчених, прізвища яких починаються на літеру “С”</button>
      <button class="questions__item" data-action="scientists-years">Відсортувати вчених за кількістю прожитих років</button>
      <button class="questions__item" data-action="no-A-surname">Видалити всіх вчених, ім’я яких починається на “А”</button>
      <button class="questions__item" data-action="last-born">Знайти вченого, який народився найпізніше</button>
      <button class="questions__item" data-action="oldest-eldest">Знайти вченого, який прожив найдовше і вченого, який прожив найменше</button>
      <button class="questions__item" data-action="first-letters">Знайти вчених, в яких співпадають перші літери імені і прізвища</button>
    </div>
  </div>
</section>


<li class="smart__item">
  <h3 class="smart__name"></h3>
  <h4 class="smart__surname"></h4>
  <p class="smart__born"></p>
  <p class="smart__dead"></p>
</li>