  <div class="container">
    <div class="team-carousel">
    <h2 class="team_title">Наша команда</h2>
    <div class="profile">
      <button class="arrow left">
        <img src="../img/team-img/left.png" alt="←">
      </button>

      <div class="member">
        <img alt="Фото студента">
        <h3 class="team_names">Ім’я студента</h3>
        <p class="team_info">Інформація про роботу, яку він/вона виконав/ла</p>
      </div>

      <button class="arrow right">
        <img src="../img/team-img/right.png" alt="→">
      </button>
    </div>
    <div class="progress">1 / 4</div>
  </div>
  </div>