<section class="three-numbers">
        <div class="container">
            <h3 class="title">Введіть 3 числа</h3>
            <div class="item">
                <input type="number" class="input1" placeholder="Введіть число">
                <input type="number" class="input2" placeholder="Введіть число">
                <input type="number" class="input3" placeholder="Введіть число">
            </div>
            <p class="text" style="color: red;">Будь ласка, введіть усі 3 числа.</p>
        </div>
        <hr>
</section>